@config "../../tailwind.config.ts";
@import "tailwindcss";
@import "@openforgelabs/rainbow-ui/styles/themes.css";
@import "@openforgelabs/rainbow-ui/styles/semantics.css";

html,
body {
  height: 100%;
}

body {
  background: rgb(var(--rx-color-bg));
  color: rgb(var(--rx-color-text));
}

button,
[role="button"],
[type="button"],
[type="submit"],
[type="reset"] {
  cursor: pointer;
}

button:disabled,
[role="button"][aria-disabled="true"],
[type="button"]:disabled,
[type="submit"]:disabled,
[type="reset"]:disabled {
  cursor: not-allowed;
}
